---
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import { Markdown } from 'astro/components';
import { Code } from 'astro/components';
import * as CONFIG from "../config";

const { content = {} } = Astro.props;
const currentPage = Astro.request.url.pathname;
---

<!--  when content is blank (such as in this case) content details thankfully default to site details -->
<style>
  .hero{
    min-height: 65vh;
  }
  .container a {
    @apply underline text-primary hover:text-primary-focus
  }
</style>

<html dir={content.dir ?? 'ltr'} lang={content.lang ?? 'en-us'} class="initial" data-theme>
  <head>
    <HeadCommon />
    <HeadSEO {content} canonicalURL={Astro.request.canonicalURL} />
    <title>{content.title ? `${content.title} 🚀 ${CONFIG.SITE.title}` : CONFIG.SITE.title}</title>
  </head>

  <body>
    <Header currentPage={currentPage} />
    <main class="bg-base-100 text-base-content">
      <div class="hero bg-gradient-to-tr from-primary to-secondary">
        <div class="flex-col hero-content md:w-1/2 lg:flex-row-reverse">
          <div class="mockup-code">
            <pre data-prefix="$"><code>npx blossomplus init</code></pre>
          </div>
          <div>
            <h1 class="mb-5 text-5xl text-primary-content font-bold">
              Blossom+
            </h1> 
            <p class="mb-5 text-primary-content">
              DaisyUI theme manager
            </p> 
            <a href="/en/introduction">
              <button class="btn glass text-neutral ring-neutral ring">Get Started</button>
            </a>
          </div>
        </div>
      </div>

      <section>
        <div class="flex flex-row flex-wrap justify-between mx-8">

          <div class="block p-6 m-2 md:w-1/3 lg:w-1/4 bg-base-100">
            <span class="inline-block text-base-content rounded-sm">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </span>

            <h2 class="mt-3 text-2xl text-primary font-bold">Easily Setup DaisyUI</h2>

            <p class="mt-3 text-sm text-base-content">
             Automatically install daisyui's plugin in tailwind.config.js (.cjs is supported too)
            </p>
          </div>

          <div class="block p-6 m-2 md:w-1/2 lg:w-1/4 bg-base-100">
            <span class="inline-block text-base-content rounded-sm">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
              </svg>
            </span>

            <h2 class="mt-3 text-2xl text-primary font-bold">Access a repo of themes</h2>

            <p class="mt-3 text-sm text-base-content">
              Easily manage and add new themes to your project with simple commands
            </p>
          </div>

          <div class="block p-6 m-2 md:w-1/2 lg:w-1/4 bg-base-100">
            <span class="inline-block text-base-content rounded-sm">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </span>

            <h2 class="mt-3 text-2xl text-primary font-bold">Add a custom theme</h2>

            <p class="mt-3 text-sm text-base-content">
              Already have a working theme? Make a pull request and soon enough your theme will be available for you to install in new projects!
            </p>
          </div>
        </div>
      </section>

      <section class="container p-10">
        <Markdown>
          ## Getting Started

            Blossom+ works by adding the daisyui plugin into an existing tailwind configuration file. Then after its easy to add and list installed themes. 

            ### Add daisyUI plugin to tailwinds config file

            <Code code={`npx blossomplus init`} lang="shellscript" theme="dracula-soft" />

            This also installs all the default themes provided by daisyUI

            ### Add a custom theme

            <Code code={`npx blossomplus add xmas`} lang="shellscript" theme="dracula-soft" />

            All custom themes live in the repo and [can be found here](https://github.com/BleedingEffigy/blossom-plus/tree/master/themes "Blossom+ Themes").

            ### List all custom themes

            <Code code={`npx blossomplus list`} lang="shellscript" theme="dracula-soft" />
        </Markdown>
      </section>
    </main>
    <Footer/>
  </body>
</html>
